:root{
    --primary: #9F9DF3; 
    --darkPrimary: #6865f7; 
    --secundary: #FFEA65; 
    --darkSecundary: #FFC71F; 
    --white: #fff; 
    --dark: #000; 
    --gray: #757575; 
    --background-gradient: #d7d6ec;
    --inputbg: #eee; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Krub", sans-serif;
}

body{
    background-color: var(--background-gradient);
    background: linear-gradient(to right, var(--background-gradient), var(--white));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* container responsive */
.container{
    background-color: var(--white);
    border-radius: 1.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 48rem;
    max-width: 100%;
    min-height: 30rem;
    }   

@media (min-width: 250px) and (max-width: 344px) {
    .container {
        background-color: var(--white);
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 16rem;
        max-width: 100%;
    }
}
@media (min-width: 345px) and (max-width: 425px) {
    .container {
        background-color: var(--white);
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 20rem;
        max-width: 100%;
    }
}
@media (min-width: 426px) and (max-width: 720px) {
    .container {
        background-color: var(--white);
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 23rem;
        max-width: 100%;
    }
}
@media (min-width: 721px) and (max-width: 1023px) {
    .container {
        background-color: var(--white);
        border-radius: 1.5rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        position: relative;
        overflow: hidden;
        width: 40rem;
        max-width: 100%;
    }
}

/* container styles */
.container p{
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
    margin: 1.25rem 0;
}

.sign-in-text{
    margin: 1rem !important;
}

.sign-up-text{
    margin: 1rem !important;
}

.container h1{
    margin: 0;
}


.container button{
    background-color: var(--darkPrimary);
    color: var(--white);
    font: 0.75rem;
    padding: 0.62rem 2.8rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 0.62rem;
    cursor: pointer;
}


.container button.hidden{
    background-color: transparent;
    border-color: var(--white);
}

.container a{
    background-color: var(--darkPrimary);
    color: var(--white);
    font: 0.75rem;
    padding: 0.62rem 2.8rem;
    /* border: 1px solid transparent; */
    /* border-radius: 0.5rem; */
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 0.62rem;
    cursor: pointer;
}

.container a.hidden{
    background-color: transparent;
    border-color: var(--white);
} 

.container form{
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2.5rem;
    height: 100%;
}

.container .form-container form div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container input{
    background-color: var(--inputbg);
    border: none;
    margin: 0.5rem, 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: var(--darkPrimary);
    height: 100%;
    background: linear-gradient(to right, #9F9DF3, #6865f7);
    color: var(--white);
    position: relative;
    left: -100%;
    height: 100;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.8rem;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

/* form para PIN */
.button-PIN{
    background-color: var(--darkPrimary);
    color: var(--white);
    font: 0.75rem;
    padding: 0.62rem 2.8rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 0.62rem;
    cursor: pointer;
}

.hidden-b.PIN{
    background-color: transparent;
    border-color: var(--white);
}

.button-PIN:hover{
    background-color: var(--darkSecundary);
}

.popup-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    z-index: 1001;
    visibility: hidden;
}

.popup-content{
    position: relative;
    width: 28.125rem;
    height: auto;
    padding: 3rem;
    border-radius: 0.62rem;
    background-color: var(--white);
    text-align: center;
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.66);
}

.popup-content h2{
    color: var(--dark);
    font-size: 2rem;
    font-weight: bold;
}

.img-scaner{
    width: 14rem;
}

.popup-content label{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.3px;
    margin: 1rem 0;
    color: var(--dark);
}

.popup-content input{
    background-color: var(--inputbg);
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    text-align: center;
}

.form-pin, .form-customer-data{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px !important;
    height: 30px !important;
    cursor: pointer;
}

/* POPUP INGRESAR NUEVO CLIENTE */
.popup-container-add-customer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    z-index: 1001;
    visibility: hidden;
}

.popup-content h3{
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: bold;
}


.add-customer-title{
    font-size: 1rem !important;
}

.form-customer-data input{
    width: 100%;
}

.popup-content select{
    background-color: var(--inputbg);
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    text-align: center;
    width: 100%;
}


/* LOADER ANIMATION */
.loader-container{
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--darkPrimary);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* DISEÑO DE TARJETA */
.card{
    width: 18rem;
    height: 11rem;
    border-radius: 15px;
    background: var(--darkPrimary);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 600ms ease;
    transform-style: preserve-3d;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.2);
    padding-block: 7%;
    padding-inline: 7%;
}

.circles-container{
    width: 8rem;
    height: 2.5rem;
}

.circle1{
    width: 60%;
    height: 100%;
    background: rgba(159, 157, 243, .80);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.circle2{
    width: 60%;
    height: 100%;
    background: rgba(159, 157, 243, .60);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
}

.card-number{
    color: #FFF !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 16px !important;
    letter-spacing: 2px !important;
}

.card-name{
    color: #FFF !important;
    font-family: Montserrat, sans-serif !important;
    font-size: 12px !important;
    letter-spacing: 2px !important;
}

.input-pin:focus{
    border: 4px solid var(--darkPrimary);
}